<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.main.service.mainMapper">
<!-- 
	<insert id="insertLCALS"
		parameterType="egovframework.main.service.LCALSVO">
		insert into
		largeclassification(lcals_name,lcals_intrcn,lcals_level)
		values(#{lcalsName},#{lcalsIntrcn},#{lcalsLevel});
	</insert>

	<insert id="insertLACLSLOG"
		parameterType="egovframework.main.service.LCALSVO">
		insert into
		largeclassificationlog(
		lcals_id, lcals_name,
		lcals_intrcn, lcals_level,
		lcals_log_division, lcals_log_performer,
		lcals_log_date
		)
		values(
		#{lcalsId},#{lcalsName},#{lcalsIntrcn},#{lcalsLevel},
		#{lcalsLogDivision},#{lcalsLogPerformer},now()
		);
	</insert>

	<delete id="deleteLCALS"
		parameterType="egovframework.main.service.LCALSVO">
		delete from largeclassification
		where lcals_id =
		#{lcalsId}
	</delete>

	<update id="updateLCALS"
		parameterType="egovframework.main.service.LCALSVO">
		update largeclassification set LCALS_ID=LCALS_ID
		<if test="lcals_name != null">
			, lcals_name = #{lcalsName}
		</if>
		<if test="lcals_intrcn != null">
			, lcals_intrcn = #{lcalsIntrcn}
		</if>
		<if test="lcals_level != null">
			, lcals_level = #{lcalsLevel}
		</if>
		<if test="lcals_yn != null">
			, lcals_yn = #{lcalsYn}
		</if>
		where lcals_id = #{lcalsId}
	</update>

	<select id="selectALLLCALS">
		select lcals_id, lcals_name, lcals_intrcn,
		lcals_level from largeclassification
	</select>

	<select id="selectALLLCALSLOG">
		select lcals_log_id, lcals_id, lcals_name,
		lcals_intrcn, lcals_level,
		lcals_log_division, lcals_log_performer,
		lcals_log_date
		from largeclassificationLog
	</select>

	<select id="selectLCALS"
		parameterType="egovframework.main.service.LCALSVO">
		select lcals_id, lcals_name, lcals_intrcn, lcals_level
		from largeclassification where lcals_id = #{lcalsId}
	</select>

	<select id="selectLCALSLOG"
		parameterType="egovframework.main.service.LCALSVO">
		select lcals_log_id, lcals_id, lcals_name,
		lcals_intrcn, lcals_level,
		lcals_log_division, lcals_log_performer, lcals_log_date
		from
		largeclassificationLog
		where 1=1
		<if test="lcals_log_id != null">
			lcals_log_id = #{lcalsLogId}
		</if>
		<if test="lcals_id != null">
			lcals_id = #{lcalsId}
		</if>
	</select>
	
	<select id="selectnavLCALS" parameterType="egovframework.main.service.LCALSVO" resultType="egovframework.main.service.LCALSVO">
		select 
		lcals_id as "LCALS_ID", 
		LCALS_NAME as "LCALS_NAME", 
		lcals_intrcn as "LCALS_INTRCN", 
		lcals_level as "LCALS_LEVEL" 
		from largeclassification 
		where lcals_level = #{lcalsLevel}
	</select>

	<select id="getLCALSID" resultType="int">
		select
		ifnull(max(lcals_id),0) from largeclassification
	</select>

	<insert id="insertMenuDetail"
		parameterType="egovframework.main.service.MenuDetailVO">
		insert into
		MenuDetail(lcals_id,menu_name,menu_file,menu_eventn,menu_link,menu_content)
		value(
		#{lcalsId},#{menuName},#{menuFile},#{menuEventn},#{menuLink},#{menuContent}
		)
	</insert>

	<insert id="insertMenuDetailLOG"
		parameterType="egovframework.main.service.MenuDetailVO">
		insert into
		MenuDetailLog(menu_id, lcals_id, menu_name, menu_file, menu_eventn, menu_link, menu_content,
		menu_log_performer, menu_log_division, menu_log_date)
		value(
			#{menuId},#{LCALS_ID},#{menuName},#{menuFile},#{menuEventn},#{menuLink},#{menuContent},
			#{menuLogPerformer},#{menuLogDivision},now()
		)
	</insert>

	<delete id="deleteMenuDetail"
		parameterType="egovframework.main.service.MenuDetailVO">
		delete from menudetail where menu_id = #{menuId}
	</delete>

	<update id="updateMenuDetail"
		parameterType="egovframework.main.service.MenuDetailVO">
		update MenuDetail set menu_id = menu_id
		<if test="menu_name != null">
			, menu_name = #{menuName}
		</if>
		<if test="menu_link != null">
			, menu_link = #{menuLink}
		</if>
		<if test="menu_content != null">
			, menu_content = #{menuContent}
		</if>
		<if test="menu_yn != null">
			, menu_yn = #{menuYn}
		</if>
	</update>

	<select id="selectALLMenuDetail">
		select menu_id, lcals_id, menu_name, menu_file, menu_eventn, menu_link, menu_content, menu_yn
		from MenuDetail
	</select>

	<select id="selectMenuDetail"
		parameterType="egovframework.main.service.MenuDetailVO">
		select menu_id, lcals_id, menu_name, menu_file, menu_eventn, menu_link, menu_content, menu_yn
		from MenuDetail
		where menu_id = #{menuId}
	</select>

	<select id="selectALLMenuDetailLOG">
		select menu_id, lcals_id, menu_name, menu_file, menu_eventn, menu_link, menu_content, menu_yn
		from MenuDetailLog
	</select>

	<select id="selectMenuDetailLOG"
		parameterType="egovframework.main.service.MenuDetailVO">
		select menu_id, lcals_id, menu_name, menu_file, menu_eventn, menu_link, menu_content, menu_yn
		from MenuDetaillog
		where menu_log_id = #{menuLogId}
	</select>

	<select id="getMenuDetailID" resultType="int">
		select
		ifnull(max(menu_id),0) from MenuDetail
	</select>
	 -->
</mapper>