@charset "UTF-8";

/*
  Css Name : custom.css
  Description : 하이크루 기존 CSS 스타일 위에 수정 하기 위한 CSS 
  Modification Information
      수정일        			수정자         
   ----------     --------    
   2022.4.7			박종현
   2022.4.8			박형진			
*/



#gtco-features, #gtco-features-2, #gtco-products, #gtco-subscribe,
   #gtco-faq, .gtco-section {
   padding: 1.02rem 0 0 0;
   clear: both;
   position: relative;
}

section.sub .sub_menu_lst li a {
            margin: 0 auto;
          text-align: center;
          width: 70%;
          display: block;
          padding-top: 9px;
          padding-bottom: 7px;
          position: relative;
          overflow: hidden;
          border-bottom: 1px solid #dcdcdc;
          color: black;
          font-size: 18px;
          font-weight: 550;
}

/* event.css에 있던 베너 css */
.sub_top {
  background-color: #f3f4f5;
      height: 270px;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

/* 하단 메뉴 */
.header_cont .gnb .depth_wrap ul li a {
   color: #808080;
   font-size: 15px;
   font-weight: 400;
   
}
.ul_solut{
   padding-left: 306px;
}

/* 관리자 페이지 하단 메뉴 css */
.ul_upendmenu{
   padding-left: 856px; 
}
/* 베너 밑 페이지 이름 언더라인 css */
.gtco-heading h2:before {
      position: absolute;
    bottom: 0;
    content: "";
    width: 145px;
    margin-left: -71px;
    height: 2px;
    left: 50%;
    background: #ff8040;
}
/* 상단메뉴 hover 시에 글씨 색깔 변경*/
.header_cont .gnb>ul>li:hover a span{
   color:#ff8040;
}
/* 하단 메뉴 */
.header_cont .gnb .depth_wrap ul li a {
   color: #808080;
   font-size: 15px;
   font-weight: 400;
}
/* 하단 메뉴 hover */
.header_cont .gnb .depth_wrap ul li a:hover {
	color:#ff8040;
}


/* 연혁 css */
.container {
  text-align: left;
  padding-bottom: 80px;
  width: 1920px;
  margin: 0 auto; 
  }
  
  /****************************************************
*    주요 연혁
******************************************************/
.history_box {
  *zoom: 1; }
  .history_box:after {
    display: block;
    clear: both;
    content: ""; }
  .history_box + .history_box ul {
    border-top: 0; }
  .history_box h4 {
    float: left;
    width: 220px;
    font-size: 2.5rem;
    color: #333;
    font-weight: 500;
    line-height: 1.625rem; }
    .history_box h4 .roboto {
      font-weight: 500;
      font-size: 2.5rem;
      color: #333; }
  .history_box ul {
    float: right;
    width: calc(100% - 220px);
    border-top: 1px solid #d9d9d9; }
    .history_box ul li {
      min-height: 55px;
      padding: 40px 0px 15px 0px;
      border-bottom: 1px solid #d9d9d9; }
      .history_box ul li.this_year {
        position: relative; }
        .history_box ul li.this_year:before {
          position: absolute;
          top: -1px;
          left: 0;
          width: 160px;
          height: 4px;
          background-color: #333;
          display: block;
          content: ""; }
      .history_box ul li dl {
        padding-left: 175px;
        position: relative; }
        .history_box ul li dl dt {
          padding-left: 5px;
          width: 175px;
          line-height: 1.125rem;
          position: absolute;
          left: 8px;
          top: 50%;
          margin-top: -18px;
          font-size: 2.125rem;
          font-weight: 500;
          color: #333; }
        .history_box ul li dl dd {
          color: #666;
          font-size: 17px;
          line-height: 1.9375rem;
          font-weight: 700;
          width: 100%;
          display: inline-block;
          vertical-align: super; }
          .history_box ul li dl dd:before {
            margin-right: 5px;
            background-color: #333;
            line-height: 1.9375rem;
            vertical-align: super;
            border-radius: 50%;
            width: 2px;
            height: 2px;
            display: inline-block;
            content: ""; }
  .paddingLeft{
     padding-left: 96px;
  }
/* 포토스토리 이미지 게시판 css 부트스트랩*/
.g-5, .gy-5 { -
   -bs-gutter-y: 3rem
}
.g-5, .gx-5 { -
   -bs-gutter-x: 3rem
}
.photorow { -
   -bs-gutter-x: 1.5rem; -
   -bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(var(- -bs-gutter-y)* -1);
   margin-right: calc(var(- -bs-gutter-x)/-2);
   margin-left: calc(var(- -bs-gutter-x)/-2)
}
.m-0 {
   margin: 0 !important
}
.justify-content-center {
   justify-content: center !important
}
.pagination {
   display: flex;
   padding-left: 0;
   list-style: none
}
.col-12 {
   flex: 0 0 auto;
   width: 100%
}
.photoimg-fluid {
   max-width: 100%;
   height: 200px
}
.photoimg{
   max-width: 50%;
}
/* 관리자 페이지 tap 위치 css */
.marginLeft{
   margin-left: 95px;
}

.homeImageRadio{
    text-align-last: center;
}
.homeadminpadding_top{
   padding-top: 12px;
}
/* 연혁 select 태그 css */
.histselect{
    font-weight: 400;
    color: #333333;
    padding-left: 6%;
    font-size: 15px !important;
   
}

.sel_box {
    font-weight: 400;
    color: #333333;
    font-size: 1rem;
}
/* 관리자 페이지 검색창 css */
.sel_box .nice-select {
   font-family: "Noto Sans KR", sans-serif;
   width: 92%;
   height: 45px;
   font-size: 1rem;
   line-height: 45px;
   font-weight: 400;
   border-radius: 0;
   position: relative;
}

/* 관리자 페이지 조직도 사업부서별 css */
.orgcht-dept-select {
   font-family: "Noto Sans KR", sans-serif;
   width: 170%;
   height: 45px;
   font-size: 1rem;
   line-height: 45px;
   font-weight: 400;
   border-radius: 0;
   position: relative;   
}
.orgcht-dept-select {
   font-family: "Noto Sans KR", sans-serif;
   width: 170%;
   height: 45px;
   font-size: 1rem;
   line-height: 45px;
   font-weight: 400;
   border-radius: 0;
   position: relative;   
}
#orgchtdeptcolumn{
    width: 230px;
    height: 34px;
    margin-top: 4px;
}
#orgchtclsfcolumn{
    width: 109px;
    height: 34px;
    margin-top: 4px;
}
#orgchtnamecolumn{
   margin-top: 4px;
}
.fontlabel{
    font-weight: 500;
    color: #697a8d;
    font-size: 2rem;
}

/*.histTable td{
   width: 120px;
}*/
.btn_select{
    width: 121px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    border: 0;
    color: #fff;
    border-radius: 25px;
    background: -webkit-gradient(linear, right top, left top, from(#ff512699), to(#ff5126));
    background: -o-linear-gradient(right, #0071bd 0%, #178edd 100%);
    background: linear-gradient(-90deg, #ff512699 0%, #ff6926f7 100%);
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.btncommon{
    display: inline-block;
    min-width: 58px;
    height: 37px;
    line-height: 25px;
    border: 1px solid #ccc;
    padding: 7px 11px;
    background-color: #fff;
    color: #f5f5f5;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
/* 연혁 css */
.table > :not(:first-child) {
/*   border-top: 2px solid #d9dee3; */
}
.table > tbody {
    vertical-align: inherit;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #697a8d;
    --bs-table-striped-bg: #f9fafb;
    --bs-table-active-color: #697a8d;
    --bs-table-active-bg: rgba(67, 89, 113, 0.1);
    --bs-table-hover-color: #697a8d;
    --bs-table-hover-bg: rgba(67, 89, 113, 0.06);
    width: 100%;
    margin-bottom: 1rem;
    color: #697a8d;
    vertical-align: middle;
    border-color: #d9dee3;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
.text-nowrap {
    white-space: nowrap !important;
}


/* select 박스 css*/
.form-select {
  background-clip: padding-box;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
  -moz-padding-start: calc(0.875rem - 3px);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.53;
  color: #697a8d;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2867, 89, 113, 0.6%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.875rem center;
  background-size: 17px 12px;
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}.form-select:focus {
  border-color: rgba(249, 249, 255, 0.54);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.875rem;
  background-image: none;
}
.form-select:disabled {
  color: #697a8d;
  background-color: #eceef1;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #697a8d;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.625rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

.form-select-lg {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

/* check 박스 css */
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input:active {
  filter: brightness(90%);
}
.form-check-input:focus {
  border-color: rgba(249, 249, 255, 0.54);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.05rem rgba(105, 108, 255, 0.1);
}
.form-check-input:checked {
  background-color: rgba(105, 108, 255, 0.08);
  border-color: rgba(105, 108, 255, 0.08);
}
.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: rgba(105, 108, 255, 0.08);
  border-color: rgba(105, 108, 255, 0.08);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10h8'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.form-switch {
  padding-left: 2.5em;
}
.form-switch .form-check-input {
  width: 2em;
  margin-left: -2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2867, 89, 113, 0.3%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

.form-check-input:checked{
   background-color: #696cff;
   border-color: #696cff;
}
.history-admin-input-checkbox {
   box-shadow: none;
   background: transparent;
   border: 2px solid rgba(0, 0, 0, 0.1);
   height: 80%;
   width: 81%;
   font-size: 16px;
   font-weight: 300;
    padding: 6px 21px;
}
.history-admin-input-text{
   box-shadow: none;
   background: transparent;
   border: 2px solid rgba(0, 0, 0, 0.1);
   height: 80%;
   width: 65%;
   font-size: 16px;
   font-weight: 300;
    padding: 6px 3px;
}

td.num{
   text-align: -webkit-center;
}




/* 관리자 페이지 수정, 삭제, 버튼 css Hj_style.css에 있던 것 옮겼음 */
.btn_type1 {
   display: inline-block;
   min-width: 56px;
   height: 42px;
   padding: 9px 12px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #d3d3d3;
   text-align: center;
   vertical-align: top;
   border-radius: 25px;
   font-weight: 600;
   font-size: 14px;
}
.btn_type2 {
	display: inline-block;
	min-width: 56px;
	height: 42px;
	padding: 9px 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d3d3d3;
	text-align: center;
	vertical-align: top;
	border-radius: 25px;
    font-weight: 600;
    font-size: 14px;
}
.btn_type3 {
   display: inline-block;
   min-width: 56px;
   height: 42px;
   font-size: 14px;
   padding: 9px 12px;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border: 1px solid #d3d3d3;
   text-align: center;
   vertical-align: top;
   border-radius: 25px;
    font-weight: 600;
}


/* 포토스토리 card css */
.g-4, .gx-4 { -
   -bs-gutter-x: 1.5rem
}

.g-4, .gy-4 { -
   -bs-gutter-y: 1.5rem
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

img, svg {
   vertical-align: middle
}
.rounded {
   border-radius: 2px !important
}
.shadow {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important
}
.btn-imagedetail div:before{
   content:"\f00e";
   font-family:"FontAwesome";
}
.btn-imagefix div:before{
   	content: "\f0aa";
    font-family: "FontAwesome";
    font-style: normal;
}
.btn-imagesave div:before{
   content:"\f0c7";
   font-family:"FontAwesome";
}
.translate-middle {
   /* transform: translate(-50%, 428%) !important; */
}
.photo-admin-row{
    margin-left: -15px;
    margin-right: -15px;
}

.photo-admin-card{
    margin-top: 50px;
}

/* 포토스토리 카드 */
.photo-admin-card-icon{
   margin: 10px auto 0 auto !important;
    font-size: 20px;
    
}
.photo-admin-card-btn-primary {
   color: #000;
   background-color: #FEA116;
   border-color: #FEA116
}

.photo-admin-btn {
   display: inline-block;
   font-weight: 400;
   line-height: 1.5;
   color: #f1f8ff;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   background-color: #1d3667;
   font-size:20px;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 2rem;
   border-radius: 15px;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}
.photo-admin-i{
   font-style:normal;
}
/* emphasis(강조) button*/
.emphasisButton{
   color: #FF5126;    
}

/* 연혁  css*/

.main_color, .main_color div, .main_color header, .main_color main,
   .main_color aside, .main_color footer, .main_color article, .main_color nav,
   .main_color section, .main_color  span, .main_color  applet,
   .main_color object, .main_color iframe, .main_color h1, .main_color h2,
   .main_color h3, .main_color h4, .main_color h5, .main_color h6,
   .main_color p, .main_color blockquote, .main_color pre, .main_color a,
   .main_color abbr, .main_color acronym, .main_color address, .main_color big,
   .main_color cite, .main_color code, .main_color del, .main_color dfn,
   .main_color em, .main_color img, .main_color ins, .main_color kbd,
   .main_color q, .main_color s, .main_color samp, .main_color small,
   .main_color strike, .main_color strong, .main_color sub, .main_color sup,
   .main_color tt, .main_color var, .main_color b, .main_color u,
   .main_color i, .main_color center, .main_color dl, .main_color dt,
   .main_color dd, .main_color ol, .main_color ul, .main_color li,
   .main_color fieldset, .main_color form, .main_color label, .main_color legend,
   .main_color table, .main_color caption, .main_color tbody, .main_color tfoot,
   .main_color thead, .main_color tr, .main_color th, .main_color td,
   .main_color article, .main_color aside, .main_color canvas, .main_color details,
   .main_color embed, .main_color figure, .main_color fieldset,
   .main_color figcaption, .main_color footer, .main_color header,
   .main_color hgroup, .main_color menu, .main_color nav, .main_color output,
   .main_color ruby, .main_color section, .main_color summary, .main_color time,
   .main_color mark, .main_color audio, .main_color video, #top .main_color .pullquote_boxed,
   .responsive #top .main_color .avia-testimonial, .responsive #top.avia-blank #main .main_color.container_wrap:first-child,
   #top .main_color.fullsize .template-blog .post_delimiter, .main_color .related_posts.av-related-style-full a
   {
   border-color: #e1e1e1;
}

/*word break*/
.container * {
   /*word-break:keep-all;*/
   word-wrap:break-word;
}
.togglecontainer{
margin:30px 0;
position: relative;
clear: both;
}
/*all font*/
/*h1, h2, h3, h4, h5, h6, div, span, ul, li, ol, table, tr, td, th, p, section {
   letter-spacing:-0.05em; /*font-family:NanumGothic, 나눔고딕;*/
}*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline; }
      
      
.main_color .av-default-color, #top .main_color .av-force-default-color,
   .main_color .av-catalogue-item, .main_color .wp-playlist-item .wp-playlist-caption,
   .main_color .wp-playlist {
   color: #55606e;
}      
article, aside, details, figcaption, figure, footer, header, hgroup,
   main, menu, nav, section, summary {
   display: block;
}
.togglecontainer .av_toggle_section div.single_toggle p.activeTitle {
   background:#9cacbe;
   color:#fff;
}
.togglecontainer .single_toggle:first-child .toggler, .togglecontainer .taglist + .single_toggle .toggler{
border-top-left-radius:  2px;
border-top-right-radius: 2px;
}
.js_active .toggler {
cursor: pointer;
display: block;
margin:0;
padding: 9px 3px 9px 35px;
position: relative;
top: 1px;
border-style:solid;
border-width:1px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* 연혁 페이지 test */
.toggler {
	cursor: pointer;
}
.main_color, .main_color div, .main_color header, .main_color main, .main_color aside, .main_color footer, .main_color article, .main_color nav, .main_color section, .main_color span, .main_color applet, .main_color object, .main_color iframe, .main_color h1, .main_color h2, .main_color h3, .main_color h4, .main_color h5, .main_color h6, .main_color p, .main_color blockquote, .main_color pre, .main_color a, .main_color abbr, .main_color acronym, .main_color address, .main_color big, .main_color cite, .main_color code, .main_color del, .main_color dfn, .main_color em, .main_color img, .main_color ins, .main_color kbd, .main_color q, .main_color s, .main_color samp, .main_color small, .main_color strike, .main_color strong, .main_color sub, .main_color sup, .main_color tt, .main_color var, .main_color b, .main_color u, .main_color i, .main_color center, .main_color dl, .main_color dt, .main_color dd, .main_color ol, .main_color ul, .main_color li, .main_color fieldset, .main_color form, .main_color label, .main_color legend, .main_color table, .main_color caption, .main_color tbody, .main_color tfoot, .main_color thead, .main_color tr, .main_color th, .main_color td, .main_color article, .main_color aside, .main_color canvas, .main_color details, .main_color embed, .main_color figure, .main_color fieldset, .main_color figcaption, .main_color footer, .main_color header, .main_color hgroup, .main_color menu, .main_color nav, .main_color output, .main_color ruby, .main_color section, .main_color summary, .main_color time, .main_color mark, .main_color audio, .main_color video, #top .main_color .pullquote_boxed, .responsive #top .main_color .avia-testimonial, .responsive #top.avia-blank #main .main_color.container_wrap:first-child, #top .main_color.fullsize .template-blog .post_delimiter, .main_color .related_posts.av-related-style-full a {
    border-color: #e1e1e1;
}
.container * {
    /* word-break: keep-all; */
    word-wrap: break-word;
}
/* + 드롭 css */
.togglecontainer .av_toggle_section div.single_toggle p.activeTitle .toggle_icon:before { 
    content: '\2d';
    font-family: 'FontAwesome';
    top: -20px !important;
    margin-top: -5px !important;
    display: block;
}
.togglecontainer .av_toggle_section div.single_toggle .toggle_icon:before {
    content: '\2b';
    font-family: 'FontAwesome';
    font-size: 22px;
    font-weight: normal;
    margin-top: -5px !important;
    display: block;
}
/* 연혁 - 아이콘*/
.icon-plus3:before {
    content: '\2d';
    font-family: 'FontAwesome';
    margin-right : 30px;
    font-weight: bold;
    font-size: 27px;
}
/* 연혁 + 아이콘*/
.activeTitle:before {
    content: '\2b';
    font-family: 'FontAwesome';
    margin-right : 30px;
    font-weight: bold;
    font-size: 27px;
}

.toggle_icon .hor_icon {
    border-top-style: solid;
    border-top-width: 3px;
    position: absolute;
    top: 5px;
    left: 1px;
    width: 11px;
}

.togglecontainer .av_toggle_section div.single_toggle p.activeTitle {
    background: #9cacbe;
    color: #fcfcfc;
}

p.toggler {
    font-size: 13.5pt;
}


/* custom.css 연혁 스타일 */
.togglecontainer .av_toggle_section div.single_toggle p:hover {
 	background:#ff8040; 
	color:#fff;
}

.togglecontainer .av_toggle_section div.single_toggle p.activeTitle {
	background:#ff8040;
	color:#fff;
}

/* 체크 박스 css*/
.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
  background-color: #ff8040;
  border-color: #ff8040;
  box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}

/* 포토스토리 체크박스 css   */
.photo-admin-input-type-checkbox{
	margin-top: 11px !important;
}



/* 왼쪽 메뉴 css */
.menu-item {
    margin: 0.0625rem 0;
}
.menu-item{
    width: 16.25rem;
}
.menu-item {
  width: 16.25rem;
}
.menu-vertical .menu-inner {
  flex-direction: column;
  flex: 1 1 auto;
}
.menu-item {
  margin: 0.0625rem 0;
}


/* 토글 클래스 css  */
.chdropdown{
	display:none !important;
}

/* 사업코드 관리 페이지 테이블 css */
.cmmTable{
	width:919px;
}

.cmmrow{
	margin-left: 13px !important;
    margin-right:12px !important;
}
/* 공통관리 a태그 css */
.cmmA{
	color:#ff8040 !important;
	font-size: 16px;
}
/* 상세코드 행 높이 CSS */
.cmmtd{
	height:61px !important;
}
/* 공통관리 레프트 메뉴 a 태그 css*/
.ccmlefta{
	color:#697a8d;
	font-family: "Droid Sans", Arial, sans-serif;
/*     font-weight: 400; */
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    font-weight: bold;
	
}



/* 페이지 관리에서 com.css 스타일 가져와서 사용하기  */
 .menudetailSearchbox{
    position: relative;
    margin-bottom: 7px;
    padding: 13px 10px;
    border: 1px solid #333;
    border-top: 3px solid #333 !important;
    background: #ffffff;
} 
.menudetailSearchbox ul{
	font-size: 0;
    text-align: right;
}
.menudetailSearchbox ul li{
	display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    vertical-align: top;
}
.menudetailSearchbox select{
	height: 24px;
	font-size: 14px;
    /* padding: 3px 3px 3px 4px; */
    border: 1px solid #dedede;
}
.search ul li > input[type=text]{
	height: 22px;
}
.menudetailSearchbox input.s_input{
    width: 140px;
    height: 22px;
    margin-right: 3px;
    padding-left: 5px;
    font-size:14px;
}
.input[type="password"], input[type="file"], input[type="text"]{
    color: black;
    text-align: center;
}
textarea, input[type="file"], input[type="password"], input[type="text"], input[type="date"]{
    border: 1px solid #d2d2d2;
    color: #727272;
    font-size:14px;
    text-align:center;
}
.menudetailSearchbox input.s_btn{
	height: 22px;
    padding: 0 8px;
    border: none;
    color: #fff;
    background: #ff8040;
    border-radius: 2px;
    cursor: pointer;
}
.menudetailboard_list{
	width: 100%;
    table-layout: fixed;
    border-top: 2px solid #4688d2;
}
.tblch h1{
	margin-bottom: 7px;
    padding: 0 0 1px 25px;
    background: url(../../../images/egovframework/com/cmm/icon/tit_icon.png) no-repeat left 0px;
}
.menudetailboard_list tbody td{
    text-align: center;
    padding: 11px 5px;
    border-bottom: 1px solid #d9d9d9;
    word-break: break-all;
    white-space: -moz-pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 연혁관리 페이지 input type="text" */
.chWidth{
	width: 300px;
}
/* 페이지 관리에서 com.css 스타일 end */

/* 페이지관리 연혁관리 input css */
.menudetailboard_list tbody td select{
   	padding: 2px 0 3px 2px;
    border: 1px solid #dedede;
    font-size:14px;
}
/* 돋보기 icon 적용  */
.menudetailOrgchtIconOne:before{
	content: "\f002"; 
    font-family: "FontAwesome";
    font-style: normal;
}
/* 사진 업로드 icon 적용  */
.menudetailOrgchtIconTwo:before{
	content: "\f0aa";
    font-family: "FontAwesome";
    font-style: normal;
}

/* 조직도 관리 직급 select  */
.orgchtMainSelect{
	width:90px;
}
/* 조직도 아이콘 div  */
.orgchtIcon{
	    padding: 3px 9px !important;
}
/* 조직도 이름 input */
.orgchtNameInput{
	width: 120px;
}
/* 페이지관리 td n_admin padding*/
.n_admin{
    padding-top: 30px !important;
    padding-left: 30px !important;
}
.tblccmCodeList{
	margin-top: 60px;
}
.userDefineInput{
	width: 100px;
}
.ov input[readonly="readonly"] {
     background-color: red;
 }
 
 #detailcode>input{
 	text-align: center;
    width: 90px;
 }
 /* 코드관리 페이지 상세코드 dc_name값 input */
.detailCodeName input{
	width:380px;
}
.chooseTr{
	background: #ff5126;
}


.btn_type2 {
	display: inline-block;
	min-width: 56px;
	height: 42px;
	padding: 9px 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #d3d3d3;
	text-align: center;
	vertical-align: top;
}
div.modal>div>div>p>a.btn_type1, div.modal>div>div>p>a.btn_type2 {
	color: white;
}
.btn_type1+.btn_type1 {
	margin-left: 1px;
}

td div.list_btn a.btn_type1 {
    display: inline-block;
    min-width: 0px;
    width: 40px;
    padding: 1px;
    height: 20px;
    border: 1px solid #d3d3d3;
    text-align: center;
    vertical-align: top;
    font-size: small;
}
#intrcnment{
	margin:0px 0px 6px 0px;
}

div.tbl_top div.inner {
	width:100%;
	height: 100%;
}
div.depth_wrap2 ul{
	background:darkgray;
	padding:0px 40px 0px 40px;
}
header.on:before {
	top: 60px;
	position: absolute;
	height: 50px;
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	content: "";
}

header.on.product:before {
	height: 420px;
}

.header_cont {
	height: 60px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	*zoom: 1;
}

.header_cont:after {
	display: block;
	clear: both;
	content: "";
}

.header_cont .logo {
	float: left;
	line-height: 60px;
}

.header_cont .gnb {
	float: left;
	width: 680px;
	margin-left: 155px;
}

.header_cont .gnb>ul {
	font-size: 0;
	*zoom: 1;
}

.header_cont .gnb>ul:after {
	display: block;
	clear: both;
	content: "";
}

.header_cont .gnb>ul>li {
	min-width: calc(100%/ 5);
	display: inline-block;
	vertical-align: middle;
	float: left;
	text-align: center;
	line-height: 60px;
}

.header_cont .gnb>ul>li>a {
	display: block;
	height: 100%;
	text-transform: uppercase;
	color: #333333;
	font-size: 2rem;
	font-weight: 700;
    text-decoration: none;
}

.header_cont .gnb>ul>li>a>span {
	position: relative;
    font-size: large;
    font-weight: bold;
}

.header_cont .gnb>ul>li>a>span:before {
	background-color: #ff8000;
	bottom: -17px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	height: 2px;
	content: "";
	display: none;
}

.header_cont .gnb>ul>li:hover .depth_wrap2 {
	display: block;
}

.header_cont .gnb>ul>li:hover a span:before {
	display: block;
}

.header_cont .gnb>ul>li.on a span:before {
	display: block;
}

.header_cont .gnb .depth_wrap2 {
	line-height: normal;
	display: none;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	top: 60px;
	left: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0;
	*zoom: 1;
}

.header_cont .gnb .depth_wrap2:after {
	display: block;
	clear: both;
	content: "";
}

.header_cont .gnb .depth_wrap2 .depth_box {
	text-align: left;
	display: inline-block;
	vertical-align: text-top;
}

.header_cont .gnb .depth_wrap2 .depth_box>a {
	white-space: nowrap;
	display: block;
	word-break: normal;
	word-wrap: normal;
	margin-bottom: 20px;
	color: #333;
	font-size: 1rem;
	font-weight: 500;
}

.header_cont .gnb .depth_wrap2 .depth_box>a:hover {
	/*text-decoration: underline;*/
	
}

.header_cont .gnb .depth_wrap2 .depth_box>a.no_link {
	cursor: default;
}

.header_cont .gnb .depth_wrap2 .depth_box>a.no_link:hover {
	text-decoration: none;
}

.header_cont .gnb .depth_wrap2 .depth_box+.depth_box {
	margin-left: 110px;
}

.header_cont .gnb .depth_wrap2 .depth_box dl {
	display: block;
}

.header_cont .gnb .depth_wrap2 .depth_box dl+dl {
	margin-left: 0;
	margin-top: 20px;
}

.header_cont .gnb .depth_wrap2 .depth_box dl dt {
	margin-bottom: 15px;
}

.header_cont .gnb .depth_wrap2 .depth_box dl dd {
	line-height: 20px;
}

.header_cont .gnb .depth_wrap2 .depth_box dl dd a {
	font-size: 0.9375rem;
}

.header_cont .gnb .depth_wrap2 dl {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.header_cont .gnb .depth_wrap2 dl+dl {
	margin-left: 100px;
}

.header_cont .gnb .depth_wrap2 dl dt {
	text-align: left;
	line-height: normal;
	margin-bottom: 0;
	color: #333;
	font-size: 0.9375rem;
	font-weight: 400;
}

.header_cont .gnb .depth_wrap2 dl dt a {
	margin-bottom: 0;
	color: #333;
	font-size: 0.9375rem;
	font-weight: 400;
}

.header_cont .gnb .depth_wrap2 dl dt a:hover {
	/*text-decoration: underline;*/
	
}

.header_cont .gnb .depth_wrap2 dl dd {
	line-height: 28px;
	text-align: left;
}

.header_cont .gnb .depth_wrap2 dl dd a {
	padding-left: 10px;
	position: relative;
	color: #666;
	font-size: 0.875rem;
	font-weight: 300;
}

.header_cont .gnb .depth_wrap2 dl dd a:before {
	width: 4px;
	height: 1px;
	background-color: #666;
	position: absolute;
	left: 0;
	top: 12px;
	display: block;
	content: "";
}

.header_cont .gnb .depth_wrap2 dl dd a:hover {
	/* text-decoration: underline; */
	
}

.header_cont .gnb .depth_wrap2 ul {
	line-height: normal;
	display: inline-block;
	text-align: center;
}

.header_cont .gnb .depth_wrap2 ul li {
	line-height: normal;
	display: inline-block;
}

.header_cont .gnb .depth_wrap2 ul li+li {
	margin-left: 60px;
}

/* 하단 메뉴 */
.header_cont .gnb .depth_wrap2 ul li a {
	color: white;
	font-size: 20px;
	font-weight: 400;
}
/* 하단 메뉴 hover */
.header_cont .gnb .depth_wrap2 ul li a:hover {
	text-decoration: underline;
}

.header_cont .gnb .btn_m_menu_close {
	display: none;
}

.header_cont header.header_btn {
	margin-top: 13px;
	float: right;
}

.header_cont header.header_btn .btn_contact {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
	border-radius: 17px;
	padding: 0 15px;
	margin-right: 40px;
	color: #fff;
	font-size: 0.9375rem;
	font-weight: 300;
	background: -webkit-gradient(linear, right top, left top, from(#0d6bae),
		to(#f45a4c));
	background: -o-linear-gradient(right, #0d6bae 0%, #f45a4c 100%);
	background: linear-gradient(-90deg, #0d6bae 0%, #f45a4c 100%);
}

.header_cont header.header_btn .btn_contact:hover {
	/* text-decoration: underline; */
	
}

.header_cont header.header_btn .btn_allmenu, .header_cont header.header_btn .m_header_btn
	{
	vertical-align: middle;
	display: inline-block;
	width: 20px;
	height: 20px;
	z-index: 100;
}

.header_cont header.header_btn .btn_allmenu span, .header_cont header.header_btn .m_header_btn span
	{
	display: block;
	text-indent: -9999em;
}

.header_cont header.header_btn .m_header_btn {
	display: none;
}



