@charset "UTF-8";

/* 하위메뉴 Tap css */
:after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sub.ir .sub_top {
	background: url("../images/bg_sub_title_06.png") no-repeat;
	background-position: center;
}

/****************************************************
*    TITLE
******************************************************/
.sub.product .sub_top_title {
	padding-top: 100px;
}

.sub.product.system_security .sub_top {
	background: url("../images/bg_sub_title_01_sys.png") no-repeat;
	background-position: center;
}

.sub.product.endpoint_security .sub_top {
	background: url("../images/bg_sub_title_01_end.png") no-repeat;
	background-position: center;
}

.sub.product.application_security .sub_top {
	background: url("../images/bg_sub_title_01_app.png") no-repeat;
	background-position: center;
}

.sub.product.partner_solution .sub_top {
	background: url("../images/bg_sub_title_01_part.png") no-repeat;
	background-position: center;
}

.sub.solution .sub_top {
	background: url("../images/bg_sub_title_03.png") no-repeat;
	background-position: center;
}

.sub.support .sub_top {
	background: url("../images/bg_sub_title_03.png") no-repeat;
	background-position: center;
}

.sub.newsroom .sub_top {
	background: url("../images/bg_sub_title_04.png") no-repeat;
	background-position: center;
}

.sub.company .sub_top {
	background: url("../images/bg_sub_title_05.png") no-repeat;
	background-position: center;
}

.sub.ir .sub_top {
	background: url("../images/bg_sub_title_06.png") no-repeat;
	background-position: center;
}

.sub_top_title {
	padding-top: 120px;
	width: 100%;
}

.sub_top_title h2 {
	text-align: center;
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
}

.sub_top_title h2 .eng {
	color: #fff;
	font-size: 3rem;
	font-weight: 900;
}

.sub_top_title h2 .kor {
	display: block;
	margin-bottom: 20px;
	color: #0099ff;
	font-size: 1.375rem;
	font-weight: 500;
}

.inner_title {
	text-align: center;
	padding-bottom: 30px;
	*zoom: 1;
}

.inner_title:after {
	display: block;
	clear: both;
	content: "";
}

.inner_title .dec+h3 {
	padding-top: 80px;
}

.inner_title h3 {
	white-space: nowrap;
	vertical-align: middle;
	color: #242424;
	font-size: 2.25rem;
	font-weight: 700;
}

.inner_title h3:after {
	width: 1px;
	height: 40px;
	background-color: #3d3e48;
	margin: 30px auto 0;
	display: block;
	content: "";
}

.cont_title {
	padding-bottom: 30px;
}

.cont_title h4 {
	color: #333333;
	font-size: 1.75rem;
	font-weight: 700;
}