<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.com.ch.service.impl.ChMapper">

<select id="selectAllCh" resultType="egovframework.com.ch.service.ChVO">
	SELECT * FROM CompanyHistory
</select>
<select id="selectCh">

</select>
<update id="updateCh">

</update>
<delete id="deleteCh">

</delete>
<insert id="insertCh">

</insert>
<insert id="insertChLog">

</insert>
</mapper>